@page "/Simulation"
@inject ILogger<SimulationMain> logger
@inject ISnackbar Snackbar

<MudUnitAndReferenceChoiceTag HttpHost=@APIUtils.HostNameUnitConversion
                              HttpBasePath=@APIUtils.HostBasePathUnitConversion
                              HttpController="UnitSystem/"
                              UnitSystemName="@DataUtils.UnitAndReferenceParameters.UnitSystemName"
                              UnitSystemNameChanged="@DataUtils.UpdateUnitSystemName">
    @if (SimulationList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div hidden="@isHiddenMainPanel">
              <ToolBarContent>
                    <MudText Typo="Typo.h5">Simulations</MudText>
                </ToolBarContent>
            <MudDataGrid T="SimulationLight" MultiSelection="false" Items="@SimulationList" ReadOnly="true"  ColumnResizeMode="ResizeMode.Column" Elevation="0">
                <Columns>
                    <PropertyColumn Property="x => x.Name" Title="Name" CellStyle="width: 10%;" Sortable="true" Editable="false" />
                    <PropertyColumn Property="x => x.Description" Title="Description" CellStyle="width: 20%;" Sortable="true" Editable="false" />
                    <PropertyColumn Property="x => x.MetaInfo.ID.ToString()" Title="Id" CellStyle="width: 30%;" Sortable="true" Editable="false" />
                    <PropertyColumn Property="x => x.CreationDate.ToString()" Title="Creation date" CellStyle="width: 15%;" Sortable="true" Editable="false" />

                    <TemplateColumn Title="Progress" CellStyle="width: 10%;">
                        <CellTemplate Context="context">
                            @($"{context.Item.Progress:P2}")
                        </CellTemplate>
                     </TemplateColumn>
                     <TemplateColumn Title="Termination State" CellStyle="width: 10%;">
                        <CellTemplate Context="context">
                            <MudChip Color="@GetTerminationColor(context.Item.TerminationState)">
                                    @GetTerminationStateLabel(context.Item.TerminationState)
                            </MudChip>
                        </CellTemplate>
                      </TemplateColumn>

                      <TemplateColumn Title="Actions" CellStyle="width: 5%;">
                          <CellTemplate Context="context">
                              <MudIconButton Icon="@Icons.Material.Outlined.Delete"
                                             Size="Size.Small"
                                             Color="Color.Error"
                                             OnClick="() => DeleteSimulation(context.Item.MetaInfo.ID)" />
                          </CellTemplate>
                      </TemplateColumn>


                </Columns>
                <PagerContent>
                    <MudDataGridPager T="SimulationLight" />
                </PagerContent>
            </MudDataGrid>

            <MudButton OnClick="@OnExpandCollapseClickAddPanel" IconColor="Color.Success" StartIcon="@Icons.Material.Filled.Add">New simulation </MudButton>
            <br>
        </div>
        <div hidden="@isHiddenEditSimulationPanel">
            <MudPaper Class="pa-4">
                <MudCollapse Expanded="_expandedAddPanel">
                    <MudText Typo="Typo.h5">Edit new simulation </MudText>
                    <MudToolBar>
                        <MudButton OnClick="@AddSimulation" IconColor="Color.Success" Class="add-item-btn" StartIcon="@Icons.Material.Filled.Check">Add simulation</MudButton>
                        <MudButton OnClick="@CloseViewSimulationPanelOnClick" Color="Color.Error" Class="add-item-btn" StartIcon="@Icons.Material.Filled.Close">Cancel</MudButton>
                    </MudToolBar>
                    <MudPaper Class="pa-4">
                        
                        <MudGrid> 
                            <MudItem xs="2">
                                <MudTextField @bind-Value=newSimulation.Name Label="Name" Variant="Variant.Text"></MudTextField>
                            </MudItem>
                            <MudItem xs="2">
                                <MudTextField @bind-Value=newSimulation.Description Label="Description" Variant="Variant.Text"></MudTextField>
                            </MudItem>
                        </MudGrid>
                        
                        @if (newSimulation?.InitialValues != null)
                        {
                            <br>
                            <br>
                            <MudText Typo="Typo.h6">Initial values </MudText>
                            <br>
                            <MudGrid>
                            <MudItem xs="2">
                                <MudNumericField 
                                    HideSpinButtons="false" 
                                    @bind-Value="newSimulation.InitialValues.BitDepth" 
                                    Label="Bit depth" 
                                    T="double" 
                                    Variant="Variant.Text" 
                                    Min="1" Max="10000" />
                               
                                <MudInputWithUnitAdornment 
                                    VariantType="Variant.Text" 
                                    QuantityLabel="Bit depth" 
                                    QuantityName="Length" 
                                    SIValue="newSimulation.InitialValues.BitDepth" 
                                    SIValueNullableChanged="val => { if (val != null) newSimulation.InitialValues.BitDepth = (double)val; }" /> 
                            </MudItem>

                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons="false" @bind-Value="newSimulation.InitialValues.HoleDepth" Label="Hole depth" T="double" Variant="Variant.Text" Min="1" Max="10000"> </MudNumericField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons="false" @bind-Value="newSimulation.InitialValues.TopOfStringPosition" Label="Top of string position" T="double" Variant="Variant.Text" Min="1" Max="40"> </MudNumericField>
                                </MudItem>
                            </MudGrid>
                        }
                        @if (newSimulation?.ContextualData != null)
                        {
                            <br>
                            <br>
                            <MudText Typo="Typo.h6">Contextual data </MudText>
                            <br>
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="newSimulation.ContextualData.TrajectoryFile" Label="Trajectory file name" Variant="Variant.Text"></MudTextField>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="newSimulation.ContextualData.DrillstringFile" Label="Drillstring file name" Variant="Variant.Text"></MudTextField>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="newSimulation.ContextualData.AnnulusPressureFile" Label="Annulus pressure profile file name" Variant="Variant.Text"></MudTextField>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="newSimulation.ContextualData.DrillstringPressureFile" Label="Drillstring pressure profile file name" Variant="Variant.Text"></MudTextField>
                                </MudItem>
                            </MudGrid>
                            <br> 
                            <MudGrid>
                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons="false" @bind-Value="newSimulation.ContextualData.FluidDensity" Label="Fluid density" T="double" Variant="Variant.Text" Min="1" Max="10000"> </MudNumericField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons="false" @bind-Value="newSimulation.ContextualData.CasingShoeDepth" Label="Casing shoe depth" T="double" Variant="Variant.Text" Min="1" Max="10000"> </MudNumericField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons="false" @bind-Value="newSimulation.ContextualData.LinerShoeDepth" Label="Liner shoe depth" T="double" Variant="Variant.Text" Min="1" Max="40"> </MudNumericField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons="false" @bind-Value="newSimulation.ContextualData.CasingID" Label="Casing ID" T="double" Variant="Variant.Text" Min="1" Max="40"> </MudNumericField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons="false" @bind-Value="newSimulation.ContextualData.LinerID" Label="Liner ID" T="double" Variant="Variant.Text" Min="1" Max="40"> </MudNumericField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons="false" @bind-Value="newSimulation.ContextualData.RiserID" Label=" Riser ID" T="double" Variant="Variant.Text" Min="1" Max="40"> </MudNumericField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons="false" @bind-Value="newSimulation.ContextualData.WellheadDepth" Label=" Wellhead depth" T="double" Variant="Variant.Text" Min="1" Max="40"> </MudNumericField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons="false" @bind-Value="newSimulation.ContextualData.BitRadius" Label=" Bit radius" T="double" Variant="Variant.Text" Min="1" Max="40"> </MudNumericField>
                                </MudItem>
                            </MudGrid>
                        }
                        @if (newSimulation?.SetPointsList != null)
                        {
                            <br>
                            <br>
                            <MudText Typo="Typo.h6">Simulation set points </MudText>
                            <br>
                            
                            <SetPointsEditor NewSimulation="@newSimulation"/>

                            <MudButton OnClick="@AddSetPoint" IconColor="Color.Success" StartIcon="@Icons.Material.Filled.Update">Add set points </MudButton>
                            <br>
                        }
                    </MudPaper>
                </MudCollapse>  
            </MudPaper>
        </div>
        <div hidden="@isHiddenShowSimulationPanel">
            @if (currentLightSimulation != null)
            {
                <MudPaper Class="pa-4">
                    <div style="display: flex; gap: 12px;">
                        
                        <MudButton OnClick="@GetCurrentSimulationLight" IconColor="Color.Primary" Size="Size.Medium" Style="border-radius: 8px;" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh">Get update light</MudButton>
                        <MudButton OnClick="@GetCurrentSimulationHeavy" IconColor="Color.Primary" Size="Size.Medium" Style="border-radius: 8px;" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh">Get update heavy</MudButton>
                        <MudButton OnClick="@CloseViewSimulationPanelOnClick" Color="Color.Error" Class="add-item-btn" StartIcon="@Icons.Material.Filled.Close">Cancel</MudButton>
                    </div>
                </MudPaper>

                <MudPaper Class="pa-4">
                   <MudGrid> 
                       <MudItem xs="2">
                           <MudTextField @bind-Value=currentLightSimulation.Name ReadOnly="true" Label="Name" Variant="Variant.Text"></MudTextField>
                       </MudItem>
                       <MudItem xs="2">
                           <MudTextField @bind-Value=currentLightSimulation.Description ReadOnly="true" Label="Description" Variant="Variant.Text"></MudTextField>
                       </MudItem>
                       <MudItem xs="3">
                           <MudTextField @bind-Value=currentLightSimulation.MetaInfo.ID ReadOnly="true" Label="ID" Variant="Variant.Text"></MudTextField>
                       </MudItem>
                       <MudItem xs="2">
                           <MudTextField @bind-Value=currentLightSimulation.Progress InputType="InputType.Number" ReadOnly="true" Label="Progress" T="double" Variant="Variant.Text"></MudTextField>
                       </MudItem>
                       <MudItem xs="2">
                           <MudTextField @bind-Value=currentLightSimulation.TerminationState InputType="InputType.Number" ReadOnly="true" Label="Termination state" T="int" Variant="Variant.Text"></MudTextField>
                       </MudItem>
                   </MudGrid>
                </MudPaper>
            }
        </div>
    }
</MudUnitAndReferenceChoiceTag>

@code {
    // Simulation related variables
    private List<SimulationLight> SimulationList = new();
    private List<SimulationLight> selectedSimulationList = new();
    private SimulationLight? currentLightSimulation;
    private Simulation? currentSimulation;
    private List<object?>? inputDataList = new(); // container used to pass input data to the SimulationEdit razor component without specifying content types (required by µservice Template)

    private Simulation newSimulation = new();

    // private List<ToBeRemoved>? toBeRemovedList;
    // UI related variables
    public bool isHiddenMainPanel;
    public bool isHiddenEditSimulationPanel;
    public bool isHiddenShowSimulationPanel;
    private string? _searchString;

    bool _expanded = true;
    bool _expandedAddPanel = false;

    private string GetTerminationStateLabel(int state)
    {
        return state switch
        {
            0 => "Running",
            1 => "Completed",
            2 => "Failed",
            3 => "Cancelled",
            _ => "Unknown"
        };
    }
    private Color GetTerminationColor(int state)
    {
        return state switch
        {
            0 => Color.Info,
            1 => Color.Success,
            2 => Color.Error,
            3 => Color.Warning,
            _ => Color.Default
        };
}

    private async Task DeleteSetPoints(SetPoints item)
    {
        if (item != null)
        {
            newSimulation.SetPointsList.Remove(item);
        }

        // Optional UI refresh
        await InvokeAsync(StateHasChanged);
    }

    private void UploadFile(InputFileChangeEventArgs e, Action<string> setFileName)
    {
        var file = e.File;
        if (file != null)
        {
            setFileName(file.Name);
        }
    }


    private void CloseViewSimulationPanelOnClick()
    {
        _expanded = true;
        _expandedAddPanel = false;
        isHiddenShowSimulationPanel = true;
        isHiddenEditSimulationPanel = true;
        isHiddenMainPanel = false;
    }

    private void OnExpandCollapseClickAddPanel()
    {
        NewDefaultSimulation();
        _expanded = false;
        _expandedAddPanel = !_expandedAddPanel;
        isHiddenEditSimulationPanel = false;
        isHiddenMainPanel = true;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Show main panel
            isHiddenMainPanel = false;
            isHiddenShowSimulationPanel = true;
            isHiddenEditSimulationPanel = true;
            currentLightSimulation = null;

            // Starting all loading tasks asynchronously
            logger.LogInformation("Trying to load list of ToBeRemoved from client: " + APIUtils.HostNameSimulator4nDOF);
            //var toBeRemovedTask = APIUtils.ClientSimulation.GetAllToBeRemovedAsync();
            logger.LogInformation("Trying to load list of Simulation from client: " + APIUtils.HostNameSimulator4nDOF);
            var SimulationTask = APIUtils.ClientSimulator4nDOF.GetAllSimulationLightAsync();

            List<Task> loadingTaskList = new List<Task> { SimulationTask };
            //loadingTaskList.Add(toBeRemovedTask);

            // Awaiting tasks and retrieve results as they become available
            while (loadingTaskList.Count > 0)
            {
                Task finishedTask = await Task.WhenAny(loadingTaskList);
                if (finishedTask == SimulationTask)
                {
                    try
                    {
                        SimulationList = (List<SimulationLight>)await SimulationTask; // awaiting the finished task allows to retrieve its result and throw exception if needed
                        if (SimulationList != null)
                        {
                            SimulationList.Sort((t1, t2) => t1.Name.CompareTo(t2.Name));
                        }
                        else
                        {
                            logger.LogWarning("Returned list of Simulation were null on initialization");
                            Snackbar.Add("Returned list of Simulation were null on initialization", Severity.Warning);
                        }
                    }
                    catch (ApiException ex)
                    {
                        logger.LogError(ex, "Impossible to load Simulation from client");
                    }
                }

                loadingTaskList.Remove(finishedTask);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem Simulation initialization");
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private void AddSetPoint()
    {
        newSimulation.SetPointsList.Add(new SetPoints() { TimeDuration = 1, SurfaceRPM = 0, TopOfStringVelocity = 0 });
    }

    private void NewDefaultSimulation()
    {
        MetaInfo metaInfo = new() { ID = Guid.NewGuid(), HttpHostName = APIUtils.HostNameSimulator4nDOF, HttpHostBasePath = APIUtils.HostBasePathSimulator4nDOF, HttpEndPoint = "Simulation/" };
        DateTimeOffset creationDate = DateTimeOffset.UtcNow;
        newSimulation = new()
        {
            MetaInfo = metaInfo,
            Name = DataUtils.DEFAULT_NAME_Simulation,
            Description = DataUtils.DEFAULT_DESCR_Simulation,
            CreationDate = creationDate,
            LastModificationDate = creationDate,
            ContextualData = new ContextualData()
            {
                TrajectoryFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\Trajectory.txt",
                AnnulusPressureFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\AnnulusHydraulicProfiles.txt",
                DrillstringPressureFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\DrillstringHydraulicProfiles.txt",
                DrillstringFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\Drillstring.csv",
                CasingShoeDepth = 2181,
                LinerShoeDepth = 0,
                CasingID = 9 * 0.0254,
                LinerID = 0 * 0.0254,
                WellheadDepth = 120,
                RiserID = 21 * 0.0254,
                BitRadius = 0.2159 / 2,
            },
            InitialValues = new InitialValues()
            {
                BitDepth = 4084,
                HoleDepth = 4085,
                TopOfStringPosition = 15
            },
            SetPointsList = new List<SetPoints>
                {
                    new SetPoints
                    {
                        TimeDuration = 10,
                        SurfaceRPM = 138 * Math.PI / 30,
                        TopOfStringVelocity = 100.0 / 3600
                    }
                },
        };
    }

    private async Task AddSimulation()
    {
        //if (setPointsList != null && setPointsList.Count > 0)
        //{
        try
        {
            MetaInfo metaInfo = new() { ID = Guid.NewGuid(), HttpHostName = APIUtils.HostNameSimulator4nDOF, HttpHostBasePath = APIUtils.HostBasePathSimulator4nDOF, HttpEndPoint = "Simulation/" };
            DateTimeOffset creationDate = DateTimeOffset.UtcNow;
            newSimulation.MetaInfo = metaInfo;
            newSimulation.CreationDate = creationDate;
            newSimulation.LastModificationDate = creationDate;
            await APIUtils.ClientSimulator4nDOF.PostSimulationAsync(this.newSimulation);
            logger.LogInformation("Simulation posted successfully");
            Snackbar.Add("Simulation posted successfully", Severity.Success);
            ;
            await OnInitializedAsync();
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to add a new Simulation");
            Snackbar.Add("Impossible to add a new Simulation", Severity.Warning);
        }
        //}
        //else
        //{
        //    logger.LogWarning("Simulation can not be created without a valid SetPoints, please select one");
        //    Snackbar.Add("Simulation can not be created without a valid SetPoints, please select one", Severity.Warning);
        //}
    }

    private async Task RowClicked(DataGridRowClickEventArgs<SimulationLight> args)
    {
        await EditSimulation(args.Item.MetaInfo.ID);
    }

    private async Task GetCurrentSimulationLight()
    {
        try
        {
            while (currentLightSimulation != null && currentLightSimulation.TerminationState < 1)
            {
                currentLightSimulation = await APIUtils.ClientSimulator4nDOF.GetSimulatioLightByIdAsync(currentLightSimulation.MetaInfo.ID);
                if (currentLightSimulation != null)
                {
                    isHiddenMainPanel = true;
                    isHiddenShowSimulationPanel = false;
                    await InvokeAsync(() => { StateHasChanged(); });
                }
                else
                {
                    logger.LogWarning("Impossible to load Simulation");
                    Snackbar.Add("Impossible to load Simulation", Severity.Warning);
                }
                await Task.Delay(5000);
                if (isHiddenShowSimulationPanel)
                {
                    break;
                }
            }
        }
        
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load Simulation to be edited");
        }
    }

     private async Task GetCurrentSimulationHeavy()
    {
        try
        {
            currentSimulation = await APIUtils.ClientSimulator4nDOF.GetSimulationByIdAsync(currentLightSimulation.MetaInfo.ID);
            if (currentLightSimulation != null)
            {
                isHiddenMainPanel = true;
                isHiddenShowSimulationPanel = false;
                await InvokeAsync(() => { StateHasChanged(); });
            }
            else
            {
                logger.LogWarning("Impossible to load Simulation");
                Snackbar.Add("Impossible to load Simulation", Severity.Warning);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load Simulation to be edited");
        }
    }

    private async Task EditSimulation(Guid id)
    {
        try
        {
            currentLightSimulation = await APIUtils.ClientSimulator4nDOF.GetSimulatioLightByIdAsync(id);
            if (currentLightSimulation != null)
            {
                isHiddenMainPanel = true;
                isHiddenShowSimulationPanel = false;
                await InvokeAsync(() => { StateHasChanged(); });
            }
            else
            {
                logger.LogWarning("Impossible to load Simulation");
                Snackbar.Add("Impossible to load Simulation", Severity.Warning);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load Simulation to be edited");
        }
    }

    private async Task DeleteSimulation(Guid id)
    {
        try
        {
            await APIUtils.ClientSimulator4nDOF.DeleteSimulationByIdAsync(id);
            await OnInitializedAsync();
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to delete Simulation");
        }
    }

    //Quick filter - filter gobally across multiple columns with the same input
    private Func<SimulationLight, bool>
    _SimulationFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if ($"{x.Name} {x.Description}".Contains(_searchString))
            return true;

        return false;
    };

    //Events
    private void StartedEditingItem(Simulation item)
    {
        //Activating Edit event capture with parameter StartedEditingItem="@StartedEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.StartedEditingItem(...)"
    }

    private void CancelledEditingItem(Simulation item)
    {
        //Activating Cancel event capture with parameter CancelledEditingItem = "@CancelledEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CancelledEditingItem(...)"
    }

    private void CommittedItemChanges(Simulation item)
    {
        //Activating Commit event capture with parameter CommittedItemChanges = "@CommittedItemChanges" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CommittedEditingItem(...)"
    }


    private async void ShowMainPanel()
    {
        isHiddenMainPanel = false;
        isHiddenShowSimulationPanel = true;
        await OnInitializedAsync();
    }
}
