@page "/Simulation"
@using NORCE.Drilling.Simulator4nDOF.WebApp
@inject ILogger<SimulationMain> logger
@inject NavigationManager Navigation
@inject ISnackbar Snackbar

<MudUnitAndReferenceChoiceTag HttpHost=@APIUtils.HostNameUnitConversion
                                HttpBasePath=@APIUtils.HostBasePathUnitConversion
                                HttpController="UnitSystem/"
                                UnitSystemName="@DataUtils.UnitAndReferenceParameters.UnitSystemName"
                                UnitSystemNameChanged="@DataUtils.UpdateUnitSystemName">
    @if (SimulationList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div hidden="@isHiddenMainPanel">
            <MudPaper Class="pa-4">
                  <MudDataGrid T="SimulationLight" MultiSelection="false" Items="@SimulationList" ReadOnly="true"  ColumnResizeMode="ResizeMode.Column" Elevation="0" RowClick="@RowClicked">
                    <Columns>
                        <PropertyColumn Property="x => x.Name" Title="Name" CellStyle="width: 10%;" Sortable="true" Editable="false" />
                        <PropertyColumn Property="x => x.Description" Title="Description" CellStyle="width: 20%;" Sortable="true" Editable="false" />
                        <PropertyColumn Property="x => x.MetaInfo.ID.ToString()" Title="Id" CellStyle="width: 30%;" Sortable="true" Editable="false" />
                        <PropertyColumn Property="x => x.CreationDate.ToString()" Title="Creation date" CellStyle="width: 15%;" Sortable="true" Editable="false" />

                        <TemplateColumn Title="Progress" CellStyle="width: 10%;">
                            <CellTemplate Context="context">
                                @($"{context.Item.Progress:P2}")
                            </CellTemplate>
                        </TemplateColumn>
                        <TemplateColumn Title="Termination State" CellStyle="width: 10%;">
                            <CellTemplate Context="context">
                                <MudChip Color="@GetTerminationColor(context.Item.TerminationState)">
                                        @GetTerminationStateLabel(context.Item.TerminationState)
                                </MudChip>
                            </CellTemplate>
                         </TemplateColumn>

                        <TemplateColumn Title="Actions" CellStyle="width: 5%;">
                                <CellTemplate Context="context">
                                    <MudIconButton Icon="@Icons.Material.Outlined.Delete"
                                                    Size="Size.Small"
                                                    Color="Color.Error"
                                                    OnClick="() => DeleteSimulation(context.Item.MetaInfo.ID)" />
                                </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="SimulationLight" />
                    </PagerContent>
                  </MudDataGrid>

                  <MudButton OnClick="@OnExpandCollapseClickAddPanel" IconColor="Color.Success" StartIcon="@Icons.Material.Filled.Add">New simulation </MudButton>
                  <br>
            </MudPaper>
        </div>
        <div hidden="@isHiddenEditSimulationPanel">
            <MudPaper Class="pa-4">
                <MudCollapse Expanded=true>
                    <MudText Typo="Typo.h5">Edit new simulation </MudText>
                    <MudToolBar>
                        <MudButton OnClick="@AddSimulation" IconColor="Color.Success" Class="add-item-btn" StartIcon="@Icons.Material.Filled.Check">Add simulation</MudButton>
                        <MudButton OnClick="@CloseViewSimulationPanelOnClick" Color="Color.Error" Class="add-item-btn" StartIcon="@Icons.Material.Filled.Close">Cancel</MudButton>
                    </MudToolBar>
                    <MudPaper Class="pa-4">
                    
                        <MudGrid RowSpacing="0" Style="margin-top:-0px;"> 
                            <MudItem xs="2">
                                <MudTextField @bind-Value=newSimulation.Name Label="Name" Variant="Variant.Text"></MudTextField>
                            </MudItem>
                            <MudItem xs="2">
                                <MudTextField @bind-Value=newSimulation.Description Label="Description" Variant="Variant.Text"></MudTextField>
                            </MudItem>
                        </MudGrid>
                    
                        @if (newSimulation?.InitialValues != null)
                        {
                            <br>
                            <MudText Typo="Typo.h6" Style="margin-bottom:-12px; margin-top: 12px;" MudText>Initial values </MudText>
                            <MudGrid RowSpacing="0" Style="margin-top:-0px;">
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text"
                                        QuantityLabel="Bit depth" 
                                        QuantityName="Length"
                                        SIValue="newSimulation.InitialValues.BitDepth"
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.InitialValues.BitDepth = (double)val; }" />
                                </MudItem>

                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Hole depth" 
                                        QuantityName="Length" 
                                        SIValue="newSimulation.InitialValues.HoleDepth" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.InitialValues.HoleDepth = (double)val; }" /> 
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Top of string position" 
                                        QuantityName="Length" 
                                        SIValue="newSimulation.InitialValues.TopOfStringPosition" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.InitialValues.TopOfStringPosition = (double)val; }" /> 
                                </MudItem>
                            </MudGrid>
                        }
                        @if (newSimulation?.Config != null)
                        {
                            <br>
                            <MudText Typo="Typo.h6" Style="margin-bottom:-12px; margin-top: 12px;" >Configuration </MudText>
                            <MudGrid RowSpacing="0" Style="margin-top:-0px;">
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Virtual sensor position from bit" 
                                        QuantityName="Length" 
                                        SIValue="newSimulation.Config.VirtualSensorPositionFromBit" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.Config.VirtualSensorPositionFromBit = (double)val; }" /> 
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Logging interval scalar values" 
                                        QuantityName="Time" 
                                        SIValue="newSimulation.Config.LoggingIntervalScalarValues" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.Config.LoggingIntervalScalarValues = (double)val; }" /> 
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Logging interval profiles" 
                                        QuantityName="Time" 
                                        SIValue="newSimulation.Config.LoggingIntervalProfiles" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.Config.LoggingIntervalProfiles = (double)val; }" /> 
                                </MudItem>
                            </MudGrid>
                            <MudGrid RowSpacing="0" Style="margin-top:-0px;">
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Heave amplitude" 
                                        QuantityName="Time" 
                                        SIValue="newSimulation.Config.HeaveAmplitude" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.Config.HeaveAmplitude = (double)val; }" /> 
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Heave period" 
                                        QuantityName="Time" 
                                        SIValue="newSimulation.Config.HeavePeriod" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.Config.HeavePeriod = (double)val; }" /> 
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Coulomb static friction" 
                                        QuantityName="Dimensionless" 
                                        SIValue="newSimulation.Config.CoulombKineticFriction" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.Config.CoulombKineticFriction = (double)val; }" /> 
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Coulomb kinetic friction" 
                                        QuantityName="Dimensionless" 
                                        SIValue="newSimulation.Config.CoulombStaticFriction" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.Config.CoulombStaticFriction = (double)val; }" /> 
                                </MudItem>
                            </MudGrid>
                            <MudGrid RowSpacing="0" Style="margin-top:-0px;">
                                <MudItem Style="width:250px;">
                                    <MudSelect @bind-Value="newSimulation.Config.TopDriveController"
                                               Label="Top drive controller"
                                               Variant="Variant.Text"
                                               T="int">
                                        <MudSelectItem Value="1">Stiff PI Controller</MudSelectItem>
                                        <MudSelectItem Value="2">Tuned PI Controller (SoftTorque/SoftSpeed)</MudSelectItem>
                                        <MudSelectItem Value="3">ZTorque</MudSelectItem>
                                    </MudSelect>
                                </MudItem>
                                
                                @if (newSimulation.Config != null && newSimulation.Config.TopDriveController == 1)
                                {
                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            VariantType="Variant.Text" 
                                            QuantityLabel="Kp" 
                                            QuantityName="Dimensionless" 
                                            SIValue="newSimulation.Config.KpStiffAndZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.KpStiffAndZTorque = (double)val; }" /> 
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            VariantType="Variant.Text" 
                                            QuantityLabel="Ki" 
                                            QuantityName="Dimensionless" 
                                            SIValue="newSimulation.Config.KiStiffAndZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.KiStiffAndZTorque = (double)val; }" /> 
                                    </MudItem>
                                }
                                @if (newSimulation.Config != null && newSimulation.Config.TopDriveController == 2)
                                {
                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            VariantType="Variant.Text" 
                                            QuantityLabel="Kp" 
                                            QuantityName="Dimensionless" 
                                            SIValue="newSimulation.Config.KpSoftTorqueSpeed" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.KpSoftTorqueSpeed = (double)val; }" /> 
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            VariantType="Variant.Text" 
                                            QuantityLabel="Ki" 
                                            QuantityName="Dimensionless" 
                                            SIValue="newSimulation.Config.KiSoftTorqueSpeed" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.KiSoftTorqueSpeed = (double)val; }" /> 
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            VariantType="Variant.Text" 
                                            QuantityLabel="Tuning frequency" 
                                            QuantityName="Frequency" 
                                            SIValue="newSimulation.Config.TuningFrequenceySoftTorqueSpeed" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.TuningFrequenceySoftTorqueSpeed = (double)val; }" /> 
                                    </MudItem>
                                }
                                @if (newSimulation.Config != null && newSimulation.Config.TopDriveController == 3)
                                {
                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            VariantType="Variant.Text" 
                                            QuantityLabel="Kp" 
                                            QuantityName="Dimensionless" 
                                            SIValue="newSimulation.Config.KpStiffAndZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.KpStiffAndZTorque = (double)val; }" />
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            VariantType="Variant.Text" 
                                            QuantityLabel="Ki" 
                                            QuantityName="Dimensionless" 
                                            SIValue="newSimulation.Config.KiStiffAndZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.KiStiffAndZTorque = (double)val; }" />
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            QuantityLabel="VFD filter time constant" 
                                            QuantityName="Time" 
                                            SIValue="newSimulation.Config.VFDFilterTimeconstantZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.VFDFilterTimeconstantZTorque = (double)val; }" />
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            QuantityLabel="Encoder time constant" 
                                            QuantityName="Time" 
                                            SIValue="newSimulation.Config.EncoderTimeConstantZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.EncoderTimeConstantZTorque = (double)val; }" />
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            QuantityLabel="Acceleration filter time constant" 
                                            QuantityName="Time" 
                                            SIValue="newSimulation.Config.AccelerationFilterTimeConstantZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.AccelerationFilterTimeConstantZTorque = (double)val; }" />
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            QuantityLabel="Torque high-pass filter time constant" 
                                            QuantityName="Time" 
                                            SIValue="newSimulation.Config.TorqueHighPassFilterTimeConstantZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.TorqueHighPassFilterTimeConstantZTorque = (double)val; }" />
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            QuantityLabel="Torque low-pass filter time constant" 
                                            QuantityName="Time" 
                                            SIValue="newSimulation.Config.TorqueLowPassFilterTimeConstantZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.TorqueLowPassFilterTimeConstantZTorque = (double)val; }" />
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            QuantityLabel="Additional tuning factor" 
                                            QuantityName="Dimensionless" 
                                            SIValue="newSimulation.Config.AdditionalTuningFactorZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.AdditionalTuningFactorZTorque = (double)val; }" />
                                    </MudItem>

                                    <MudItem Style="width:250px;">
                                        <MudInputWithUnit 
                                            QuantityLabel="Inertia correction factor" 
                                            QuantityName="Dimensionless" 
                                            SIValue="newSimulation.Config.InertiaCorrectionFactorZTorque" 
                                            SIValueNullableChanged="val => { if (val != null) newSimulation.Config.InertiaCorrectionFactorZTorque = (double)val; }" />
                                    </MudItem>
                                }
                            </MudGrid>
                        }

                        @if (newSimulation?.ContextualData != null)
                        {
                            <br>
                            <MudText Typo="Typo.h6" Style="margin-bottom:-12px; margin-top: 12px;">Contextual data </MudText>

                            <MudGrid RowSpacing="0" Style="margin-top:-0px;">
                                
                                <MudText Typo="Typo.body1">Selected: @newSimulation.ContextualData.DrillStringSource (@Convert.ToInt32(newSimulation.ContextualData.DrillStringSource))</MudText>
                                <MudItem xs="12">
                                    <MudSelect Style="width:250px;"
                                           Label="DrillString Source"
                                           @bind-Value="newSimulation.ContextualData.DrillStringSource"
                                           Variant="Variant.Text">
                                        <MudSelectItem Value="@DrillStringSourceType.DrillStringOpenLabFile">DrillString OpenLab File</MudSelectItem>
                                        <MudSelectItem Value="@DrillStringSourceType.DrillStringOpenLabMS">DrillString OpenLab MS id</MudSelectItem>
                                        <MudSelectItem Value="@DrillStringSourceType.DrillStringMS">DrillString MS id</MudSelectItem>
                                    </MudSelect>
                                </MudItem>
                                @if (newSimulation.ContextualData.DrillStringSource == DrillStringSourceType.DrillStringOpenLabFile)
                                {
                                    <MudItem xs="12">
                                        <MudTextField @bind-Value="newSimulation.ContextualData.DrillstringFile" 
                                                      Label="Drillstring file name" 
                                                      Variant="Variant.Text" />
                                    </MudItem>
                                }
                                else if (newSimulation.ContextualData.DrillStringSource == DrillStringSourceType.DrillStringOpenLabMS)
                                {
                                    <MudItem xs="12">
                                        <MudTextField @bind-Value="newSimulation.ContextualData.DrillStringOpenLabID" 
                                                      Label="Drillstring OpenLab id" 
                                                      Variant="Variant.Text" />
                                    </MudItem>
                                }
                                else if (newSimulation.ContextualData.DrillStringSource == DrillStringSourceType.DrillStringMS)
                                {
                                    <MudItem xs="12">
                                        <MudTextField @bind-Value="newSimulation.ContextualData.DrillStringID" 
                                                      Label="Drillstring id" 
                                                      Variant="Variant.Text" />
                                    </MudItem>
                                }

                                <MudItem xs="12">
                                    <MudTextField @bind-Value="newSimulation.ContextualData.TrajectoryFile" Label="Trajectory file name" Variant="Variant.Text"></MudTextField>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="newSimulation.ContextualData.AnnulusPressureFile" Label="Annulus pressure profile file name" Variant="Variant.Text"></MudTextField>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="newSimulation.ContextualData.DrillstringPressureFile" Label="Drillstring pressure profile file name" Variant="Variant.Text"></MudTextField>
                                </MudItem>
                            </MudGrid>
                            <br> 
                            <MudGrid RowSpacing="0"  Style="margin-top:-0px;">
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel= "Drilling Fluid Density" 
                                        QuantityName="MassDensityDrilling" 
                                        MinValue=1
                                        MaxValue=2500
                                        SIValue="newSimulation.ContextualData.FluidDensity" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.ContextualData.FluidDensity = val.Value; }" />
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Casing Shoe Depth" 
                                        QuantityName="DepthDrilling"
                                                      MinValue=-1000
                                        MaxValue=25000
                                        SIValue="newSimulation.ContextualData.CasingShoeDepth" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.ContextualData.CasingShoeDepth = val.Value; }" />
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Liner shoe Depth" 
                                        QuantityName="DepthDrilling"
                                        MinValue=-1000
                                        MaxValue=25000
                                        SIValue="newSimulation.ContextualData.LinerShoeDepth" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.ContextualData.LinerShoeDepth = val.Value; }" />
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Casing ID" 
                                        QuantityName="DiameterPipeDrilling" 
                                        MinValue=0
                                        MaxValue=1.016
                                        SIValue="newSimulation.ContextualData.CasingID" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.ContextualData.CasingID = val.Value; }" />
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Liner ID" 
                                        QuantityName="DiameterPipeDrilling" 
                                        MinValue=0
                                        MaxValue=1.016
                                        SIValue="newSimulation.ContextualData.LinerID" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.ContextualData.LinerID = val.Value; }" />
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Riser ID" 
                                        QuantityName="DiameterPipeDrilling" 
                                        MinValue=0
                                        MaxValue=1.016
                                        SIValue="newSimulation.ContextualData.RiserID" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.ContextualData.RiserID = val.Value; }" />
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Well-head depth" 
                                        QuantityName="DepthDrilling"
                                        MinValue=-1000
                                        MaxValue=25000
                                        SIValue="newSimulation.ContextualData.WellheadDepth" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.ContextualData.WellheadDepth = val.Value; }" />
                                </MudItem>
                                <MudItem Style="width:250px;">
                                    <MudInputWithUnit 
                                        VariantType="Variant.Text" 
                                        QuantityLabel="Bit radius" 
                                        QuantityName="DiameterPipeDrilling" 
                                        MinValue=0
                                        MaxValue=0.508
                                        SIValue="newSimulation.ContextualData.BitRadius" 
                                        SIValueNullableChanged="val => { if (val != null) newSimulation.ContextualData.BitRadius = val.Value; }" />
                                </MudItem>
                            </MudGrid>
                        }
                        @if (newSimulation?.SetPointsList != null)
                        {
                            <br>
                            <MudText Typo="Typo.h6" >Set points</MudText>
                        
                            <SetPointsEditor NewSimulation="@newSimulation"/>

                            <MudButton OnClick="@AddSetPoint" IconColor="Color.Success" StartIcon="@Icons.Material.Filled.Add">Add set points </MudButton>
                        }
                        
                    </MudPaper>
                </MudCollapse>  
        </MudPaper>
        </div>
    }
</MudUnitAndReferenceChoiceTag>
@code {

    // Simulation related variables
    private List<SimulationLight> SimulationList = new();
    private List<SimulationLight> selectedSimulationList = new();
    private SimulationLight? currentLightSimulation;
    private Simulation? currentSimulation;
    private List<object?>? inputDataList = new(); // container used to pass input data to the SimulationEdit razor component without specifying content types (required by µservice Template)
    private Simulation newSimulation = new();
    public bool isHiddenMainPanel;
    public bool isHiddenEditSimulationPanel;

    private Color GetProgressColor(double? progress)
    {
        if (progress == null) return Color.Default;

        return progress switch
        {
            <= 0.25 => Color.Error,
            <= 0.75 => Color.Warning,
            < 1.0 => Color.Info,
            _ => Color.Success
        };
    }

    private string GetTerminationStateLabel(int state)
    {
        return state switch
        {
            0 => "Running",
            1 => "Completed",
            2 => "Failed",
            3 => "Cancelled",
            _ => "Unknown"
        };
    }
    private Color GetTerminationColor(int state)
    {
        return state switch
        {
            0 => Color.Info,
            1 => Color.Success,
            2 => Color.Error,
            3 => Color.Warning,
            _ => Color.Default
        };
    }

    private async Task DeleteSetPoints(SetPoints item)
    {
        if (item != null)
        {
            newSimulation.SetPointsList.Remove(item);
        }

        // Optional UI refresh
        await InvokeAsync(StateHasChanged);
    }

    private void UploadFile(InputFileChangeEventArgs e, Action<string> setFileName)
    {
        var file = e.File;
        if (file != null)
        {
            setFileName(file.Name);
        }
    }

    private void CloseViewSimulationPanelOnClick()
    {
        isHiddenEditSimulationPanel = true;
        isHiddenMainPanel = false;
    }

    private void OnExpandCollapseClickAddPanel()
    {
        NewDefaultSimulation();
        isHiddenEditSimulationPanel = false;
        isHiddenMainPanel = true;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Show main panel
            isHiddenMainPanel = false;
            isHiddenEditSimulationPanel = true;
            currentLightSimulation = null;

            // Starting all loading tasks asynchronously
            logger.LogInformation("Trying to load list of ToBeRemoved from client: " + APIUtils.HostNameSimulator4nDOF);
            //var toBeRemovedTask = APIUtils.ClientSimulation.GetAllToBeRemovedAsync();
            logger.LogInformation("Trying to load list of Simulation from client: " + APIUtils.HostNameSimulator4nDOF);
            var SimulationTask = APIUtils.ClientSimulator4nDOF.GetAllSimulationLightAsync();

            List<Task> loadingTaskList = new List<Task> { SimulationTask };
            //loadingTaskList.Add(toBeRemovedTask);

            // Awaiting tasks and retrieve results as they become available
            while (loadingTaskList.Count > 0)
            {
                Task finishedTask = await Task.WhenAny(loadingTaskList);
                if (finishedTask == SimulationTask)
                {
                    try
                    {
                        SimulationList = (List<SimulationLight>)await SimulationTask; // awaiting the finished task allows to retrieve its result and throw exception if needed
                        if (SimulationList != null)
                        {
                            SimulationList.Sort((t1, t2) => t1.Name.CompareTo(t2.Name));
                        }
                        else
                        {
                            logger.LogWarning("Returned list of Simulation were null on initialization");
                            Snackbar.Add("Returned list of Simulation were null on initialization", Severity.Warning);
                        }
                    }
                    catch (ApiException ex)
                    {
                        logger.LogError(ex, "Impossible to load Simulation from client");
                    }
                }

                loadingTaskList.Remove(finishedTask);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem Simulation initialization");
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private void AddSetPoint()
    {
        newSimulation.SetPointsList.Add(new SetPoints() { TimeDuration = 1, SurfaceRPM = 0, TopOfStringVelocity = 0 });
    }

    private void NewDefaultSimulation()
    {
        MetaInfo metaInfo = new() { ID = Guid.NewGuid(), HttpHostName = APIUtils.HostNameSimulator4nDOF, HttpHostBasePath = APIUtils.HostBasePathSimulator4nDOF, HttpEndPoint = "Simulations/" };
        DateTimeOffset creationDate = DateTimeOffset.UtcNow;
        newSimulation = new()
        {
            MetaInfo = metaInfo,
            Name = DataUtils.DEFAULT_NAME_Simulation,
            Description = DataUtils.DEFAULT_DESCR_Simulation,
            CreationDate = creationDate,
            LastModificationDate = creationDate,
            Config = new NORCE.Drilling.Simulator4nDOF.ModelShared.Config()
            {
                VirtualSensorPositionFromBit = 63,
                LoggingIntervalScalarValues = 0.1,
                LoggingIntervalProfiles = 0.0,
                CoulombStaticFriction = 0.3,
                CoulombKineticFriction = 0.2,
                HeaveAmplitude = 0.07,
                HeavePeriod  = 11,
                TopDriveController = 1,
                // ZTorque filter and tuning defaults
                VFDFilterTimeconstantZTorque = 0.005,
                EncoderTimeConstantZTorque = 0.002,
                AccelerationFilterTimeConstantZTorque = 0.005,
                TorqueHighPassFilterTimeConstantZTorque = 20,
                TorqueLowPassFilterTimeConstantZTorque = 0.005,
                AdditionalTuningFactorZTorque = 0.25,
                InertiaCorrectionFactorZTorque = 1.00,

                // Top drive controller gains
                KpSoftTorqueSpeed = 4,
                KiSoftTorqueSpeed = 0,
                TuningFrequenceySoftTorqueSpeed = 0.2,
                KpStiffAndZTorque = 50,
                KiStiffAndZTorque = 5,
            },
            ContextualData = new ContextualData()
            {
                TrajectoryFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\Trajectory.txt",
                DrillStringSource = (DrillStringSourceType)2,
                AnnulusPressureFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\AnnulusHydraulicProfiles.txt",
                DrillstringPressureFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\DrillstringHydraulicProfiles.txt",
                DrillstringFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\Drillstring.csv",
                DrillStringID = new Guid("fee4592a-8ed9-4937-86b5-53489c55957e"),
                DrillStringOpenLabID = new Guid("d5e3b949-9031-46d6-8a59-7348c3329d8d"),
                CasingShoeDepth = 2181,
                LinerShoeDepth = 0,
                CasingID = 9 * 0.0254,
                LinerID = 0 * 0.0254,
                WellheadDepth = 120,
                RiserID = 21 * 0.0254,
                BitRadius = 0.2159 / 2,
            },
            InitialValues = new InitialValues()
            {
                BitDepth = 4084,
                HoleDepth = 4085,
                TopOfStringPosition = 15
            },
            SetPointsList = new List<SetPoints>
                {
                    new SetPoints
                    {
                        TimeDuration = 10,
                        SurfaceRPM = 138 * Math.PI / 30,
                        TopOfStringVelocity = 100.0 / 3600
                    }
                },
        };
    }

    private async Task AddSimulation()
    {
        try
        {
            MetaInfo metaInfo = new() { ID = Guid.NewGuid(), HttpHostName = APIUtils.HostNameSimulator4nDOF, HttpHostBasePath = APIUtils.HostBasePathSimulator4nDOF, HttpEndPoint = "Simulations/" };
            DateTimeOffset creationDate = DateTimeOffset.UtcNow;
            newSimulation.MetaInfo = metaInfo;
            newSimulation.CreationDate = creationDate;
            newSimulation.LastModificationDate = creationDate;
            await APIUtils.ClientSimulator4nDOF.PostSimulationAsync(this.newSimulation);
            logger.LogInformation("Simulation posted successfully");
            Snackbar.Add("Simulation posted successfully", Severity.Success);
            ;
            await OnInitializedAsync();
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to add a new Simulation");
            Snackbar.Add("Impossible to add a new Simulation", Severity.Warning);
        }
    }

    private async Task RowClicked(DataGridRowClickEventArgs<SimulationLight> args)
    {
        var id = args.Item.MetaInfo.ID;

        try
        {
            Navigation.NavigateTo($"/Simulator4nDOF/webapp/Simulation/{id}");
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load Simulation to be edited");
        }
    }

    private async Task DeleteSimulation(Guid id)
    {
        try
        {
            await APIUtils.ClientSimulator4nDOF.DeleteSimulationByIdAsync(id);
            await OnInitializedAsync();
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to delete Simulation");
        }
    }
}
