@using OSDC.UnitConversion.Conversion
@using OSDC.UnitConversion.Conversion.DrillingEngineering
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces.ScatterLib
@using MudBlazor
@inherits LayoutComponentBase

@*<MudText Class="mt-4 mb-4" Typo="Typo.h6">Simulation results</MudText>*@
<MudLayout>

    @if (activeTab == 0 || activeTab == 2)
    {
        <MudPaper Elevation="2" Class="pa-2 mb-2" Outlined="true">
            <div class="d-flex align-center gap-4 flex-wrap">

                <!-- Start Index -->
                <MudSlider T="double"
                           Value="@startIndex"
                           ValueChanged="OnStartIndexChanged"
                           Min="0"
                           Max="@maxIndex"
                           Step="1"
                           Immediate="true"
                           Color="Color.Primary"
                           Style="width: 200px;" />
                <MudText Typo="Typo.body2">Start: @timeStart.ToString("F2") s</MudText>

                <!-- End Index -->
                <MudSlider T="double"
                           Value="@endIndex"
                           ValueChanged="OnEndIndexChanged"
                           Min="0"
                           Max="@maxIndex"
                           Step="1"
                           Immediate="true"
                           Color="Color.Secondary"
                           Style="width: 200px;" />
                <MudText Typo="Typo.body2">End: @timeEnd.ToString("F2") s</MudText>

            </div>
        </MudPaper>
    }


    @if (activeTab == 1)
    {
        <MudPaper Elevation="2" Class="pa-2 mb-2" Outlined="true">
            <MudGrid Class="pa-0 ma-0" Justify="Justify.FlexStart" AlignItems="AlignItems.Center">
                <MudItem>
                    <MudSlider T="double"
                               Value="@selectedProfileIndex"
                               ValueChanged="OnProfileChanged"
                               Min="0"
                               Max="@((Results?.Profiles?.Count ?? 1) - 1)"
                               Step="1"
                               Immediate="true"
                               Color="Color.Primary"
                               Style="width: 200px;" />
                </MudItem>

                <MudItem>
                    <MudText Typo="Typo.subtitle2" Class="ml-2">
                        Time (s): @selectedProfileTime.ToString("F2")
                    </MudText>
                </MudItem>
            </MudGrid>
        </MudPaper>
    }

   
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" ActivePanelIndex="@activeTab" ActivePanelIndexChanged="OnTabChanged">

        <MudTabPanel Text="Time graphs">
            <MudGrid>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_depthLayout" @bind-Data="_depthTraces" @ref="_depthChart" />
                </MudItem>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_rpmLayout" @bind-Data="_rpmTraces" @ref="_rpmChart" />
                </MudItem>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_torqueLayout" @bind-Data="_torqueTraces" @ref="_torqueChart" />
                </MudItem>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_velocityLayout" @bind-Data="_velocityTraces" @ref="_velocityChart" />
                </MudItem>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_wobLayout" @bind-Data="_wobTraces" @ref="_wobChart" />
                </MudItem>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_ssiLayout" @bind-Data="_ssiTraces" @ref="_ssiChart" />
                </MudItem>

            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text="Depth graphs ">
            <MudGrid Class="pa-0 ma-0" Style="flex-wrap: nowrap; overflow-x: auto;"  Justify="Justify.FlexStart" AlignItems="AlignItems.Center">
                <MudItem Style="flex: 0 0 12%;">
                    <PlotlyChart style="height: 80vh; min-height: 350px; width: 100%" @bind-Config="_config" @bind-Layout="_angularVelocityLayout" @bind-Data="_angularVelocityTraces" @ref="_angularVelocityChart" />
                </MudItem>
                <MudItem Style="flex: 0 0 12%;">
                    <PlotlyChart style="height: 80vh; min-height: 350px; width: 100%" @bind-Config="_config" @bind-Layout="_axialVelocityLayout" @bind-Data="_axialVelocityTraces" @ref="_axialVelocityChart" />
                </MudItem>
                <MudItem Style="flex: 0 0 12%;">
                    <PlotlyChart style="height: 80vh; min-height: 350px; width: 100%" @bind-Config="_config" @bind-Layout="_lateralDispLayout" @bind-Data="_lateralDispTraces" @ref="_lateralDispChart" />
                </MudItem>
                <MudItem Style="flex: 0 0 12%;">
                    <PlotlyChart style="height: 80vh; min-height: 350px; width: 100%" @bind-Config="_config" @bind-Layout="_lateralDispALayout" @bind-Data="_lateralDispATraces" @ref="_lateralDispAChart" />
                </MudItem>
                <MudItem Style="flex: 0 0 12%;">
                    <PlotlyChart style="height: 80vh; min-height: 350px; width: 100%" @bind-Config="_config" @bind-Layout="_bendingMomentLayout" @bind-Data="_bendingMomentTraces" @ref="_bendingMomentChart" />
                </MudItem>
                <MudItem Style="flex: 0 0 12%;">
                    <PlotlyChart style="height: 80vh; min-height: 350px; width: 100%" @bind-Config="_config" @bind-Layout="_sideForceLayout" @bind-Data="_sideForceTraces" @ref="_sideForceChart" />
                </MudItem>
                <MudItem Style="flex: 0 0 12%;">
                    <PlotlyChart style="height: 80vh; min-height: 350px; width: 100%" @bind-Config="_config" @bind-Layout="_torqueDLayout" @bind-Data="_torqueDTraces" @ref="_torqueDChart" />
                </MudItem>
                <MudItem Style="flex: 0 0 12%;">
                    <PlotlyChart style="height: 80vh; min-height: 350px; width: 100%" @bind-Config="_config" @bind-Layout="_tensionLayout" @bind-Data="_tensionTraces" @ref="_tensionChart" />
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text="Sensor measurements">
            <MudGrid>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_sensorVelocityALayout" @bind-Data="_sensorVelocityATraces" @ref="_sensorVelocityAChart" />
                </MudItem>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_sensorVelocityLayout" @bind-Data="_sensorVelocityTraces" @ref="_sensorVelocityChart" />
                </MudItem>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_sensorRadialAccLayout" @bind-Data="_sensorRadialAccTraces" @ref="_sensorRadialAccChart" />
                </MudItem>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_sensorTangentialAccLayout" @bind-Data="_sensorTangentialAccTraces" @ref="_sensorTangentialAccChart" />
                </MudItem>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_sensorAxialAccLayout" @bind-Data="_sensorAxialAccTraces" @ref="_sensorAxialAccChart" />
                </MudItem>
                <MudItem xs="6">
                    <PlotlyChart style="height: 25vh;" @bind-Config="_config" @bind-Layout="_sensorBendingMomentLayout" @bind-Data="_sensorBendingMomentTraces" @ref="_sensorBendingMomentChart" />
                </MudItem>
            </MudGrid>
        </MudTabPanel>
    </MudTabs>
</MudLayout>

@code
{
    [Parameter]
    public Results Results
    {
        get => _results;
        set
        {
            _results = value;
            if (_results?.Scalars?.Time?.Count > 0)
            {
                startIndex = 0;
                endIndex = _results.Scalars.Time.Count - 1;
            }
        }
    }
    private Results _results;


    [CascadingParameter]
    public MudUnitAndReferenceChoiceTag? Parent { get; set; }

    public MudTheme MyCustomTheme = new MudTheme
    {
        PaletteLight = new PaletteLight
        //Palette = new Palette()
        {
            Primary = new MudBlazor.Utilities.MudColor("#2E888D"), // DigiWells green-blue
            Secondary = new MudBlazor.Utilities.MudColor("#222742"), // DigiWells dark-blue
            AppbarBackground = "#DAD7E0",
            Background = "#DAD7E0",
        },
    };

    private int selectedProfileIndex;
    private double selectedProfileTime;

    private int activeTab = 0;

    private string value { get; set; } = "All";

    private int startIndex = 0;
    private int endIndex;

    private double timeStart => Results?.Scalars?.Time?.ElementAtOrDefault(startIndex) ?? 0;
    private double timeEnd => Results?.Scalars?.Time?.ElementAtOrDefault(endIndex) ?? 0;

    private int maxIndex => (Results?.Scalars?.Time?.Count ?? 1) - 1;


    private async Task OnStartIndexChanged(double value)
    {
        startIndex = Math.Min((int)value, endIndex);
        await Refresh();
    }

    private async Task OnEndIndexChanged(double value)
    {
        endIndex = Math.Max((int)value, startIndex);
        await Refresh();
    }


    Plotly.Blazor.LayoutLib.Margin margin = new Plotly.Blazor.LayoutLib.Margin
    {
        L = 75,
        R = 50,
        B = 50,
        T = 10,
        Pad = 4
    };

    Plotly.Blazor.LayoutLib.Margin marginDepth = new Plotly.Blazor.LayoutLib.Margin
    {
        L = 52,
        R = 2,
        B = 50,
        T = 10,
        Pad = 4
    };

    Annotation CreateAnnotation(double y, object x, string text, int ax, int ay) =>
    new Annotation { Y = y, X = x, Text = text, Ax = ax, Ay = ay };

    private MudTheme Theme = new MudTheme();

    private Plotly.Blazor.Config _config;

    IList<ITrace> _rpmTraces = new List<ITrace>();
    IList<ITrace> _depthTraces = new List<ITrace>();
    IList<ITrace> _ropTraces = new List<ITrace>();
    IList<ITrace> _wobTraces = new List<ITrace>();
    IList<ITrace> _ssiTraces = new List<ITrace>();
    IList<ITrace> _torqueTraces = new List<ITrace>();
    IList<ITrace> _velocityTraces = new List<ITrace>();
    IList<ITrace> _hookloadTraces = new List<ITrace>();
    IList<ITrace> _fftTraces = new List<ITrace>();
    IList<ITrace> _sideForceTraces = new List<ITrace>();
    IList<ITrace> _angularVelocityTraces = new List<ITrace>();
    IList<ITrace> _axialVelocityTraces = new List<ITrace>();
    IList<ITrace> _lateralDispTraces = new List<ITrace>();
    IList<ITrace> _lateralDispATraces = new List<ITrace>();
    IList<ITrace> _bendingMomentTraces = new List<ITrace>();
    IList<ITrace> _torqueDTraces = new List<ITrace>();
    IList<ITrace> _tensionTraces = new List<ITrace>();

    IList<ITrace> _sensorVelocityATraces = new List<ITrace>();
    IList<ITrace> _sensorVelocityTraces = new List<ITrace>();
    IList<ITrace> _sensorRadialAccTraces = new List<ITrace>();
    IList<ITrace> _sensorTangentialAccTraces = new List<ITrace>();
    IList<ITrace> _sensorAxialAccTraces = new List<ITrace>();
    IList<ITrace> _sensorBendingMomentTraces = new List<ITrace>();

    ITrace _bitRpmTrace = new Scatter() { Name = "Bit Rotational Speed", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _surfaceRpmTrace = new Scatter() { Name = "Surface Rotational Speed", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _bitDepthTrace = new Scatter() { Name = "Bit depth", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _holeDepthTrace = new Scatter() { Name = "Hole depth", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _ropTrace = new Scatter() { Name = "ROP", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _wobTrace = new Scatter() { Name = "WOB", ShowLegend = true, Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _ssiTrace = new Scatter() { Name = "SSI", ShowLegend = true, Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _bitTorqueTrace = new Scatter() { Name = "Bit torque", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _surfaceAxialVelocityTrace = new Scatter() { Name = "Top of string velocity", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _bitAxialVelocityTrace = new Scatter() { Name = "Bit axial velocity", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _surfaceTorqueTrace = new Scatter() { Name = "Surface torque", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _hookloadTrace = new Scatter() { Name = "Hookload", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _fftTrace = new Scatter() { Name = "Bit Rotational Speed FFT", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _sideForceTrace = new Scatter() { Name = "Stiff", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>(), ShowLegend = false };
    ITrace _sideForceTraceSoftstring = new Scatter() { Name = "Soft", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>(), ShowLegend = false };
    ITrace _pipeAngularVelocityTrace = new Scatter() { Name = "Pipe", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _axialVelocityTrace = new Scatter() { Name = "Axial", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _sleevesAngularVelocityTrace = new Scatter() { Name = "Sleeves", Mode = ModeFlag.Markers, X = new List<object>(), Y = new List<object>() };
    ITrace _radialClearanceLeftTrace = new Scatter() { ShowLegend = false, Name = "Cl.", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>(), Line = new Line() { Shape = Plotly.Blazor.Traces.ScatterLib.LineLib.ShapeEnum.Linear, Dash = "2px" } };
    ITrace _radialClearanceRightTrace = new Scatter() { ShowLegend = false, Name = "Cl.", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>(), Line = new Line() { Shape = Plotly.Blazor.Traces.ScatterLib.LineLib.ShapeEnum.Linear, Dash = "2px" } };
    ITrace _lateralDispATrace = new Scatter() { Name = "Displ. (phi)", Mode = ModeFlag.Markers, X = new List<object>(), Y = new List<object>() };
    ITrace _lateralDispTrace = new Scatter() { ShowLegend = false, Name = "Displ", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _bendingMomentTrace = new Scatter() { Name = "Bending Moment [kN]", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _torqueDTrace = new Scatter() { Name = "Torque", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _tensionTrace = new Scatter() { Name = "Tension", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };

    ITrace _sensorAngularVelocityTrace = new Scatter() { Name = "Angular", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _sensorWhirlVelocityTrace = new Scatter() { Name = "Whirl", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _sensorAxialVelocityTrace = new Scatter() { Name = "Axial", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _sensorRadialVelocityTrace = new Scatter() { Name = "Radial", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };

    ITrace _sensorRadialAccTrace = new Scatter() { Name = "Radial", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _sensorAxialAccTrace = new Scatter() { Name = "Axial", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _sensorTangentialAccTrace = new Scatter() { Name = "Tangential", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _sensorBendingMomentXTrace = new Scatter() { Name = "Mx", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };
    ITrace _sensorBendingMomentYTrace = new Scatter() { Name = "My", Mode = ModeFlag.Lines, X = new List<object>(), Y = new List<object>() };

    // Time-based charts
    private PlotlyChart _rpmChart;
    private Layout _rpmLayout = new Layout();

    private PlotlyChart _depthChart;
    private Layout _depthLayout = new Layout();

    private PlotlyChart _wobChart;
    private Layout _wobLayout = new Layout();

    private PlotlyChart _ssiChart;
    private Layout _ssiLayout = new Layout();

    private PlotlyChart _torqueChart;
    private Layout _torqueLayout = new Layout();

    private PlotlyChart _velocityChart;
    private Layout _velocityLayout = new Layout();

    // Depth-based charts
    private PlotlyChart _sideForceChart;
    private Layout _sideForceLayout = new Layout();

    private PlotlyChart _angularVelocityChart;
    private Layout _angularVelocityLayout = new Layout();

    private PlotlyChart _axialVelocityChart;
    private Layout _axialVelocityLayout = new Layout();

    private PlotlyChart _lateralDispChart;
    private Layout _lateralDispLayout = new Layout();

    private PlotlyChart _lateralDispAChart;
    private Layout _lateralDispALayout = new Layout();

    private PlotlyChart _bendingMomentChart;
    private Layout _bendingMomentLayout = new Layout();

    private PlotlyChart _tensionChart;
    private Layout _tensionLayout = new Layout();

    private PlotlyChart _torqueDChart;
    private Layout _torqueDLayout = new Layout();

    // Sensor charts
    private PlotlyChart _sensorVelocityAChart;
    private Layout _sensorVelocityALayout = new Layout();

    private PlotlyChart _sensorVelocityChart;
    private Layout _sensorVelocityLayout = new Layout();

    private PlotlyChart _sensorRadialAccChart;
    private Layout _sensorRadialAccLayout = new Layout();

    private PlotlyChart _sensorTangentialAccChart;
    private Layout _sensorTangentialAccLayout = new Layout();

    private PlotlyChart _sensorAxialAccChart;
    private Layout _sensorAxialAccLayout = new Layout();

    private PlotlyChart _sensorBendingMomentChart;
    private Layout _sensorBendingMomentLayout = new Layout();

    public async Task Refresh()
    {
        if (Results != null)
        {
            CreateLayouts();
            _ = Run();
            await AfterSetValueAsync();
        }
    }

    private async Task OnTabChanged(int newIndex)
    {
        activeTab = newIndex;
        await Refresh();
    }

    private async Task OnProfileChanged(double value)
    {
        selectedProfileIndex = (int)value;

        await Refresh();
    }


    private Layout CreateLayout(string xTitle, string yTitle, bool reversedYAxis = true, double? minAllowed = null, IList<object> range = null, Plotly.Blazor.LayoutLib.Margin margin = null) =>
    new Layout
    {
        Margin = margin ?? this.margin, // Allows different margin settings
        XAxis = new[] { new XAxis { Side = Plotly.Blazor.LayoutLib.XAxisLib.SideEnum.Bottom,
                                    Title = new Plotly.Blazor.LayoutLib.XAxisLib.Title { Text = xTitle } } },
        YAxis = new[] { new YAxis { Title = new Plotly.Blazor.LayoutLib.YAxisLib.Title { Text = yTitle },
                                    AutoRange = reversedYAxis ? Plotly.Blazor.LayoutLib.YAxisLib.AutoRangeEnum.Reversed : null,
                                    MinAllowed = minAllowed,
                                    Range = range } },
        Annotations = new List<Annotation>(),
        Colorway = new List<object> { "#b7127c", "#07b2b2", "#0073ac", "#f88707" }
    };

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        _config = new Plotly.Blazor.Config
        {
            ShowLink = false,
            Responsive = true,
            DisplayLogo = false
        };

        _rpmTraces.Add(_bitRpmTrace);
        _rpmTraces.Add(_surfaceRpmTrace);
        _depthTraces.Add(_bitDepthTrace);
        _depthTraces.Add(_holeDepthTrace);
        _wobTraces.Add(_wobTrace);
        _ssiTraces.Add(_ssiTrace);
        _torqueTraces.Add(_surfaceTorqueTrace);
        _torqueTraces.Add(_bitTorqueTrace);
        _velocityTraces.Add(_surfaceAxialVelocityTrace);
        _velocityTraces.Add(_bitAxialVelocityTrace);
        _sideForceTraces.Add(_sideForceTrace);
        _sideForceTraces.Add(_sideForceTraceSoftstring);
        _angularVelocityTraces.Add(_pipeAngularVelocityTrace);
        _angularVelocityTraces.Add(_sleevesAngularVelocityTrace);
        _axialVelocityTraces.Add(_axialVelocityTrace);
        _lateralDispTraces.Add(_lateralDispTrace);
        _lateralDispTraces.Add(_radialClearanceLeftTrace);
        _lateralDispTraces.Add(_radialClearanceRightTrace);
        _lateralDispATraces.Add(_lateralDispATrace);
        _bendingMomentTraces.Add(_bendingMomentTrace);
        _torqueDTraces.Add(_torqueDTrace);
        _tensionTraces.Add(_tensionTrace);
        _sensorVelocityATraces.Add(_sensorAngularVelocityTrace);
        _sensorVelocityATraces.Add(_sensorWhirlVelocityTrace);
        _sensorVelocityTraces.Add(_sensorAxialVelocityTrace);
        _sensorVelocityTraces.Add(_sensorRadialVelocityTrace);
        _sensorRadialAccTraces.Add(_sensorRadialAccTrace);
        _sensorTangentialAccTraces.Add(_sensorTangentialAccTrace);
        _sensorAxialAccTraces.Add(_sensorAxialAccTrace);
        _sensorBendingMomentTraces.Add(_sensorBendingMomentXTrace);
        _sensorBendingMomentTraces.Add(_sensorBendingMomentYTrace);

        CreateLayouts();
        if (Results?.Scalars?.Time?.Count > 0)
        {
            startIndex = 0;
            endIndex = Results.Scalars.Time.Count - 1;
        }

        selectedProfileIndex = Results?.Profiles?.Count > 0 ? Results.Profiles.Count - 1 : 0;
        base.OnInitialized();
    }

    private void CreateLayouts()
    {
        // Depth-based layouts
        _sideForceLayout = CreateLayout("Side Force [" + Parent.GetUnitLabel(BasePhysicalQuantity.QuantityEnum.Force) + "]", "Depth [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", true, 0.0001, null, marginDepth);
        _angularVelocityLayout = CreateLayout("Angular velocity [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling) + "]", "Depth [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", true, 0.0001, null, marginDepth);
        _axialVelocityLayout = CreateLayout("Axial velocity [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling) + "]", "Depth [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", true, 0.0001, null, marginDepth);
        _lateralDispLayout = CreateLayout("Lateral displ. [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", "Depth [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", true, 0.0001, null, marginDepth);
        _lateralDispALayout = CreateLayout("Lateral displ. [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", "Depth [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", true, 0.0001, null, marginDepth);
        _bendingMomentLayout = CreateLayout("Bending moment [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling) + "]", "Depth [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", true, 0.0001, null, marginDepth);
        _tensionLayout = CreateLayout("Tension [" + Parent.GetUnitLabel(BasePhysicalQuantity.QuantityEnum.Force) + "]", "Depth[" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", true, 0.0001, null, marginDepth);
        _torqueDLayout = CreateLayout("Torque [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling) + "]", "Depth [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", true, 0.0001, null, marginDepth);

        // Time-based layouts 
        _rpmLayout = CreateLayout("Time", "RPM [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling) + "]", false);
        _depthLayout = CreateLayout("Time", "Measured depth [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.DepthDrilling) + "]", false);
        _wobLayout = CreateLayout("Time", "WOB [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.WeightOnBitDrilling) + "]", false);
        _ssiLayout = CreateLayout("Time", "SSI [-]", false);
        _velocityLayout = CreateLayout("Time", "Axial velocity [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling) + "]", false);
        _torqueLayout = CreateLayout("Time", "Torque [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling) + "]", false);

        // Sensor-based layouts
        _sensorVelocityALayout = CreateLayout("Time", "Angular Velocity [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling) + "]", false);
        _sensorVelocityLayout = CreateLayout("Time", "Axial Velocity [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling) + "]", false);
        _sensorRadialAccLayout = CreateLayout("Time", "Radial acc. [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling) + "]", false);
        _sensorTangentialAccLayout = CreateLayout("Time", "Tangential acc. [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling) + "]", false);
        _sensorAxialAccLayout = CreateLayout("Time", "Axial acc. [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling) + "]", false);
        _sensorBendingMomentLayout = CreateLayout("Time", "Bending moment [" + Parent.GetUnitLabel(DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling) + "]", false);
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _ = Run();
        }
        return base.OnAfterRenderAsync(firstRender);
    }


    private async Task AfterSetValueAsync()
    {
        // fake async behaviour
        await Task.Yield();
    }

    private Task Run()
    {
        return Task.Run(async () =>
        {
            if (Results?.Scalars?.Time?.Count > 0)
            {
                try
                {
                    var x = new List<object>();
                    var BitRPM = new List<object>();
                    var SurfaceRPM = new List<object>();
                    var BitDepth = new List<object>();
                    var HoleDepth = new List<object>();
                    var SurfaceTorque = new List<object>();
                    var BitTorque = new List<object>();
                    var WOB = new List<object>();
                    var SSI = new List<object>();
                    var TopOfStringAxialVelocity = new List<object>();
                    var BitAxialVelocity = new List<object>();
                    var y10 = new List<object>();

                    List<object> SensorAngularVelocity = new List<object>();
                    List<object> SensorWhirlVelocity = new List<object>();
                    List<object> SensorAxialVelocity = new List<object>();
                    List<object> SensorRadialVelocity = new List<object>();
                    List<object> SensorRadialAcc = new List<object>();
                    List<object> SensorTangentialAcc = new List<object>();
                    List<object> SensorAxialAcc = new List<object>();
                    List<object> SensorBendingMomentX = new List<object>();
                    List<object> SensorBendingMomentY = new List<object>();

                    if (activeTab == 0)
                    {
                        for (int i = startIndex; i <= endIndex && i < Results.Scalars.Time.Count; i++)
                        {
                            x.Add(Results.Scalars.Time.ElementAt(i));
                            BitRPM.Add(Parent.FromSI(Results.Scalars.BitRPM.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling));
                            SurfaceRPM.Add(Parent.FromSI(Results.Scalars.SurfaceRPM.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling));
                            BitDepth.Add(Parent.FromSI(Results.Scalars.BitDepth.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling));
                            HoleDepth.Add(Parent.FromSI(Results.Scalars.HoleDepth.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling));
                            SurfaceTorque.Add(Parent.FromSI(Results.Scalars.SurfaceTorque.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling));
                            BitTorque.Add(Parent.FromSI(Results.Scalars.BitTorque.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling));
                            WOB.Add(Parent.FromSI(Results.Scalars.WOB.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.WeightOnBitDrilling));
                            TopOfStringAxialVelocity.Add(Parent.FromSI(Results.Scalars.TopOfStringAxialVelocity.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling));
                            BitAxialVelocity.Add(Parent.FromSI(Results.Scalars.BitAxialVelocity.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling));


                            SSI.Add(Results.Scalars.SSI.ElementAt(i));
                        }

                        ((Plotly.Blazor.Traces.Scatter)_bitRpmTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_bitRpmTrace).Y = BitRPM;
                        ((Plotly.Blazor.Traces.Scatter)_surfaceRpmTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_surfaceRpmTrace).Y = SurfaceRPM;

                        ((Plotly.Blazor.Traces.Scatter)_bitDepthTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_bitDepthTrace).Y = BitDepth;
                        ((Plotly.Blazor.Traces.Scatter)_holeDepthTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_holeDepthTrace).Y = HoleDepth;

                        ((Plotly.Blazor.Traces.Scatter)_surfaceTorqueTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_surfaceTorqueTrace).Y = SurfaceTorque;
                        ((Plotly.Blazor.Traces.Scatter)_bitTorqueTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_bitTorqueTrace).Y = BitTorque;

                        ((Plotly.Blazor.Traces.Scatter)_wobTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_wobTrace).Y = WOB;

                        ((Plotly.Blazor.Traces.Scatter)_ssiTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_ssiTrace).Y = SSI;

                        ((Plotly.Blazor.Traces.Scatter)_surfaceAxialVelocityTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_surfaceAxialVelocityTrace).Y = TopOfStringAxialVelocity;

                        ((Plotly.Blazor.Traces.Scatter)_bitAxialVelocityTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_bitAxialVelocityTrace).Y = BitAxialVelocity;



                        var time = x.Last();

                        _rpmLayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(
                                Parent.FromSI(Results.Scalars.SurfaceRPM.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling),
                                time,
                                "Surface: " + Parent.FromSI(Results.Scalars.SurfaceRPM.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling, false),
                                -40, -30),
                            CreateAnnotation(
                                Parent.FromSI(Results.Scalars.BitRPM.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling),
                                time,
                                "Bit: " + Parent.FromSI(Results.Scalars.BitRPM.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling, false),
                                -40, 30)
                        };

                        _torqueLayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(
                                Parent.FromSI(Results.Scalars.SurfaceTorque.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling),
                                time,
                                "Surface: " + Parent.FromSI(Results.Scalars.SurfaceTorque.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling, false),
                                -40, -40),
                            CreateAnnotation(
                                Parent.FromSI(Results.Scalars.BitTorque.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling),
                                time,
                                "Bit: " + Parent.FromSI(Results.Scalars.BitTorque.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling, false),
                                -40, 30)
                        };

                        _velocityLayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(
                                Parent.FromSI(Results.Scalars.TopOfStringAxialVelocity.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling),
                                time,
                                "Surface: " + Parent.FromSI(Results.Scalars.TopOfStringAxialVelocity.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling, false),
                                -40, -40),
                            CreateAnnotation(
                                Parent.FromSI(Results.Scalars.BitAxialVelocity.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling),
                                time,
                                "Bit: " + Parent.FromSI(Results.Scalars.BitAxialVelocity.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling, false),
                                -40, 30)
                        };

                        _depthLayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(
                                Parent.FromSI(Results.Scalars.BitDepth.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling),
                                time,
                                "Bit: " + Parent.FromSI(Results.Scalars.BitDepth.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling, false),
                                -40, -40),
                            CreateAnnotation(
                                Parent.FromSI(Results.Scalars.HoleDepth.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling),
                                time,
                                "Hole: " + Parent.FromSI(Results.Scalars.HoleDepth.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling, false),
                                -40, 30)
                        };

                        _wobLayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(
                                Parent.FromSI(Results.Scalars.WOB.ElementAt(endIndex) , DrillingPhysicalQuantity.QuantityEnum.WeightOnBitDrilling),
                                time,
                                "WOB: " + Parent.FromSI(Results.Scalars.WOB.ElementAt(endIndex) , DrillingPhysicalQuantity.QuantityEnum.WeightOnBitDrilling, false),
                                -40, -30)
                        };

                        await InvokeAsync(async () => await _rpmChart.React());
                        await InvokeAsync(async () => await _depthChart.React());
                        await InvokeAsync(async () => await _torqueChart.React());
                        await InvokeAsync(async () => await _velocityChart.React());
                        await InvokeAsync(async () => await _wobChart.React());
                        await InvokeAsync(async () => await _ssiChart.React());
                    }
                    else if (activeTab == 1)
                    {
                        var depths = new List<object>();
                        var SideForce = new List<object>();
                        var SideForceSoftString = new List<object>();
                        var profile = Results.Profiles.ElementAt(selectedProfileIndex);
                        selectedProfileTime = profile.Time;

                        for (int i = 0; i < profile.Depth.Count; i++)
                        {
                            depths.Add(Parent.FromSI(profile.Depth.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling));
                            SideForce.Add(Parent.FromSI(profile.SideForce.ElementAt(i), BasePhysicalQuantity.QuantityEnum.Force));
                            SideForceSoftString.Add(Parent.FromSI(profile.SideForceSoftString.ElementAt(i), BasePhysicalQuantity.QuantityEnum.Force));
                        }

                        ((Plotly.Blazor.Traces.Scatter)_sideForceTrace).X = SideForce;
                        ((Plotly.Blazor.Traces.Scatter)_sideForceTrace).Y = depths;
                        ((Plotly.Blazor.Traces.Scatter)_sideForceTraceSoftstring).X = SideForceSoftString;
                        ((Plotly.Blazor.Traces.Scatter)_sideForceTraceSoftstring).Y = depths;

                        var PipeAngularVelocity = new List<object>();

                        for (int i = 0; i < profile.Depth.Count; i++)
                        {
                            PipeAngularVelocity.Add(Parent.FromSI(profile.PipeAngularVelocity.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling));
                        }

                        ((Plotly.Blazor.Traces.Scatter)_pipeAngularVelocityTrace).X = PipeAngularVelocity;
                        ((Plotly.Blazor.Traces.Scatter)_pipeAngularVelocityTrace).Y = depths;

                        var depthssleeves = new List<object>();
                        var SleevesAngularVelocity = new List<object>();


                        for (int i = 0; i < profile.SleevesDepth.Count; i++)
                        {
                            depthssleeves.Add(Parent.FromSI(profile.SleevesDepth.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling));
                            SleevesAngularVelocity.Add(Parent.FromSI(profile.SleevesAngularVelocity.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling));

                        }

                        var RadialClearanceL = new List<object>();
                        var RadialClearanceR = new List<object>();
                        var LateralDisplacement = new List<object>();

                        for (int i = 0; i < profile.Depth.Count; i++)
                        {
                            var clearance = Parent.FromSI(profile.RadialClearance.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling);
                            RadialClearanceL.Add(-1 * clearance);
                            RadialClearanceR.Add(clearance);
                            LateralDisplacement.Add(Parent.FromSI(profile.LateralDisplacement.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling));
                        }


                        ((Plotly.Blazor.Traces.Scatter)_radialClearanceLeftTrace).X = RadialClearanceL;
                        ((Plotly.Blazor.Traces.Scatter)_radialClearanceRightTrace).X = RadialClearanceR;
                        ((Plotly.Blazor.Traces.Scatter)_lateralDispTrace).X = LateralDisplacement;
                        ((Plotly.Blazor.Traces.Scatter)_radialClearanceLeftTrace).Y = depths;
                        ((Plotly.Blazor.Traces.Scatter)_radialClearanceRightTrace).Y = depths;
                        ((Plotly.Blazor.Traces.Scatter)_lateralDispTrace).Y = depths;

                        var BendingMoment = new List<object>();
                        for (int i = 0; i < profile.Depth.Count; i++)
                        {
                            BendingMoment.Add(Parent.FromSI(profile.BendingMoment.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling));
                        }
                        ((Plotly.Blazor.Traces.Scatter)_bendingMomentTrace).X = BendingMoment;
                        ((Plotly.Blazor.Traces.Scatter)_bendingMomentTrace).Y = depths;

                        BendingMoment = new List<object>();
                        var depthAll = new List<object>();
                        for (int i = 0; i < profile.DepthAll.Count; i++)
                        {
                            BendingMoment.Add(Parent.FromSI(profile.Torque.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling));
                            depthAll.Add(Parent.FromSI(profile.DepthAll.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.DepthDrilling));
                        }
                        ((Plotly.Blazor.Traces.Scatter)_torqueDTrace).X = BendingMoment;
                        ((Plotly.Blazor.Traces.Scatter)_torqueDTrace).Y = depthAll;

                        var Tension = new List<object>();
                        for (int i = 0; i < profile.Depth.Count; i++)
                        {
                            Tension.Add(Parent.FromSI(profile.Tension.ElementAt(i), BasePhysicalQuantity.QuantityEnum.Force));
                        }
                        ((Plotly.Blazor.Traces.Scatter)_tensionTrace).X = Tension;
                        ((Plotly.Blazor.Traces.Scatter)_tensionTrace).Y = depths;

                        var AxialVelocityD = new List<object>();
                        for (int i = 0; i < profile.Depth.Count; i++)
                        {
                            AxialVelocityD.Add(profile.AxialVelocityD.ElementAt(i) * 3600);
                        }
                        ((Plotly.Blazor.Traces.Scatter)_axialVelocityTrace).X = AxialVelocityD;
                        ((Plotly.Blazor.Traces.Scatter)_axialVelocityTrace).Y = depths;

                        var LateralDisplacementAngle = new List<object>();
                        for (int i = 0; i < profile.Depth.Count; i++)
                        {
                            LateralDisplacementAngle.Add(Parent.FromSI(profile.LateralDisplacementAngle.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.PlaneAngleDrilling));
                        }
                        ((Plotly.Blazor.Traces.Scatter)_lateralDispATrace).X = LateralDisplacementAngle;
                        ((Plotly.Blazor.Traces.Scatter)_lateralDispATrace).Y = depths;

                        await InvokeAsync(async () => await _sideForceChart.React());
                        await InvokeAsync(async () => await _angularVelocityChart.React());
                        await InvokeAsync(async () => await _axialVelocityChart.React());
                        await InvokeAsync(async () => await _lateralDispChart.React());
                        await InvokeAsync(async () => await _lateralDispAChart.React());
                        await InvokeAsync(async () => await _bendingMomentChart.React());
                        await InvokeAsync(async () => await _torqueDChart.React());
                        await InvokeAsync(async () => await _tensionChart.React());
                    }

                    else if (activeTab == 2)
                    {
                        for (int i = startIndex; i <= endIndex && i < Results.Scalars.Time.Count; i++)
                        {
                            x.Add(Results.Scalars.Time.ElementAt(i));

                            SensorRadialAcc.Add(Results.Scalars.SensorRadialAcc.ElementAt(i) / 9.81);
                            SensorAngularVelocity.Add(Parent.FromSI(
                                Results.Scalars.SensorAngularVelocity.ElementAt(i),
                                DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling));

                            SensorWhirlVelocity.Add(Parent.FromSI(
                                Results.Scalars.SensorWhirlVelocity.ElementAt(i),
                                DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling));

                            SensorAxialVelocity.Add(Parent.FromSI(Results.Scalars.SensorAxialVelocity.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling));
                            SensorRadialVelocity.Add(Parent.FromSI(Results.Scalars.SensorRadialVelocity.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling));
                            SensorTangentialAcc.Add(Parent.FromSI(Results.Scalars.SensorTangentialAcc.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling));
                            SensorAxialAcc.Add(Parent.FromSI(Results.Scalars.SensorAxialAcc.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling));
                            SensorBendingMomentX.Add(Parent.FromSI(Results.Scalars.SensorBendingMomentX.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling));
                            SensorBendingMomentY.Add(Parent.FromSI(Results.Scalars.SensorBendingMomentY.ElementAt(i), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling));
                        }


                        ((Plotly.Blazor.Traces.Scatter)_sensorAngularVelocityTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_sensorAngularVelocityTrace).Y = SensorAngularVelocity;

                        ((Plotly.Blazor.Traces.Scatter)_sensorWhirlVelocityTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_sensorWhirlVelocityTrace).Y = SensorWhirlVelocity;

                        ((Plotly.Blazor.Traces.Scatter)_sensorAxialVelocityTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_sensorAxialVelocityTrace).Y = SensorAxialVelocity;

                        ((Plotly.Blazor.Traces.Scatter)_sensorRadialVelocityTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_sensorRadialVelocityTrace).Y = SensorRadialVelocity;

                        ((Plotly.Blazor.Traces.Scatter)_sensorRadialAccTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_sensorRadialAccTrace).Y = SensorRadialAcc;

                        ((Plotly.Blazor.Traces.Scatter)_sensorTangentialAccTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_sensorTangentialAccTrace).Y = SensorTangentialAcc;

                        ((Plotly.Blazor.Traces.Scatter)_sensorAxialAccTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_sensorAxialAccTrace).Y = SensorAxialAcc;

                        ((Plotly.Blazor.Traces.Scatter)_sensorBendingMomentXTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_sensorBendingMomentXTrace).Y = SensorBendingMomentX;

                        ((Plotly.Blazor.Traces.Scatter)_sensorBendingMomentYTrace).X = x;
                        ((Plotly.Blazor.Traces.Scatter)_sensorBendingMomentYTrace).Y = SensorBendingMomentY;


                        var time = x.Last();

                        // Sensor Angular & Whirl Velocity
                        var latestSensorAngularVelocity = Parent.FromSI(
                            Results.Scalars.SensorAngularVelocity.ElementAt(endIndex),
                            DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling);
                        var latestSensorAngularVelocityString = Parent.FromSI(
                            Results.Scalars.SensorAngularVelocity.ElementAt(endIndex),
                            DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling, false);

                        var latestSensorWhirlVelocity = Parent.FromSI(
                            Results.Scalars.SensorWhirlVelocity.ElementAt(endIndex),
                            DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling);
                        var latestSensorWhirlVelocityString = Parent.FromSI(
                            Results.Scalars.SensorWhirlVelocity.ElementAt(endIndex),
                            DrillingPhysicalQuantity.QuantityEnum.AngularVelocityDrilling, false);

                        _sensorVelocityALayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(latestSensorAngularVelocity, time, "Angular: "+ latestSensorAngularVelocityString, -40, -40),
                            CreateAnnotation(latestSensorWhirlVelocity, time, "Whirl: " + latestSensorWhirlVelocityString, -40, -20)
                        };

                        // Sensor Axial & Radial Velocity
                        var latestSensorAxialVelocity = Parent.FromSI(Results.Scalars.SensorAxialVelocity.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling);
                        var latestSensorAxialVelocityString = Parent.FromSI(Results.Scalars.SensorAxialVelocity.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling, false);
                        var latestSensorRadialVelocity = Parent.FromSI(Results.Scalars.SensorRadialVelocity.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling);
                        var latestSensorRadialVelocityString = Parent.FromSI(Results.Scalars.SensorRadialVelocity.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.RateOfPenetrationDrilling, false);

                        _sensorVelocityLayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(latestSensorAxialVelocity, time, "Axial: " + latestSensorAxialVelocityString, -40, 20),
                            CreateAnnotation(latestSensorRadialVelocity, time, "Radial: " + latestSensorRadialVelocityString, -40, 40)
                        };

                        // Sensor Accelerations
                        var latestSensorRadialAcc = Parent.FromSI(Results.Scalars.SensorRadialAcc.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling);
                        var latestSensorRadialAccString = Parent.FromSI(Results.Scalars.SensorRadialAcc.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling, false);
                        _sensorRadialAccLayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(latestSensorRadialAcc, time, latestSensorRadialAccString, -40, 20)
                        };

                        var latestSensorTangentialAcc = Parent.FromSI(Results.Scalars.SensorTangentialAcc.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling);
                        var latestSensorTangentialAccString = Parent.FromSI(Results.Scalars.SensorTangentialAcc.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling, false);
                        _sensorTangentialAccLayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(latestSensorTangentialAcc, time, latestSensorTangentialAccString, -40, 20)
                        };

                        var latestSensorAxialAcc = Parent.FromSI(Results.Scalars.SensorAxialAcc.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling);
                        var latestSensorAxialAccString = Parent.FromSI(Results.Scalars.SensorAxialAcc.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.AccelerationDrilling,false);
                        _sensorAxialAccLayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(latestSensorAxialAcc, time, latestSensorAxialAccString, -40, 20)
                        };

                        // Sensor Bending Moments
                        var latestBendingMomentX = Parent.FromSI(Results.Scalars.SensorBendingMomentX.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling);
                        var latestBendingMomentXString = Parent.FromSI(Results.Scalars.SensorBendingMomentX.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling, false);
                        var latestBendingMomentY = Parent.FromSI(Results.Scalars.SensorBendingMomentY.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling);
                        var latestBendingMomentYString = Parent.FromSI(Results.Scalars.SensorBendingMomentY.ElementAt(endIndex), DrillingPhysicalQuantity.QuantityEnum.TorqueDrilling, false);

                        _sensorBendingMomentLayout.Annotations = new List<Annotation>
                        {
                            CreateAnnotation(latestBendingMomentX, time, "Mx: " + latestBendingMomentXString, -40, -20),
                            CreateAnnotation(latestBendingMomentY, time, "My: " + latestBendingMomentYString, -40, 20)
                        };

                        await InvokeAsync(async () => await _sensorVelocityAChart.React());
                        await InvokeAsync(async () => await _sensorAxialAccChart.React());
                        await InvokeAsync(async () => await _sensorBendingMomentChart.React());
                        await InvokeAsync(async () => await _sensorRadialAccChart.React());
                        await InvokeAsync(async () => await _sensorTangentialAccChart.React());
                        await InvokeAsync(async () => await _sensorVelocityChart.React());
                    }

                }
                catch (Exception e)
                {
                    Console.WriteLine(e.ToString());
                }

                InvokeAsync(() => StateHasChanged());
            }
        });
    }
}
