@page "/Simulation/{id:guid}"
@inject NavigationManager Navigation
@using NORCE.Drilling.Simulator4nDOF.WebApp
@inject ILogger<SimulationMain> logger
@inject ISnackbar Snackbar

<MudUnitAndReferenceChoiceTag HttpHost=@APIUtils.HostNameUnitConversion
                              HttpBasePath=@APIUtils.HostBasePathUnitConversion
                              HttpController="UnitSystem/"
                              UnitSystemName="@DataUtils.UnitAndReferenceParameters.UnitSystemName"
                              UnitSystemNameChanged="@DataUtils.UpdateUnitSystemName">
    @if (SimulationList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (currentLightSimulation != null)
        {
            <MudPaper Class="pa-4">
                <div style="display: flex; gap: 12px;">
                    
                    <MudButton OnClick="@GetCurrentSimulationHeavy" IconColor="Color.Primary" Size="Size.Medium" Style="border-radius: 8px;" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh">Get update heavy</MudButton>
                    <MudButton OnClick="@CloseViewSimulationPanelOnClick" Color="Color.Error" Class="add-item-btn" StartIcon="@Icons.Material.Filled.Close">Cancel</MudButton>
                </div>
            </MudPaper>

            <MudPaper Class="pa-4">
                <MudGrid AlignItems="Center" GutterSize="16px">
                    <MudItem xs="2">
                        <MudText Typo="Typo.body1"><b>Name:</b></MudText>
                        <MudText Typo="Typo.body1" Class="ml-0 mt-2">@currentLightSimulation.Name</MudText>
                    </MudItem>

                    <MudItem xs="3">
                        <MudText Typo="Typo.body1"><b>Description:</b></MudText>
                        <MudText Typo="Typo.body1" Class="ml-0 mt-2">@currentLightSimulation.Description</MudText>
                    </MudItem>

                    <MudItem xs="2">
                        <MudText Typo="Typo.body1"><b>ID:</b></MudText>
                        <MudText Typo="Typo.body1" Class="ml-0 mt-2">@currentLightSimulation.MetaInfo.ID</MudText>
                    </MudItem>

                    <MudItem xs="2">
                        <MudText Typo="Typo.body1"><b>Progress:</b></MudText>
                        <MudChip T="string" Color="@GetProgressColor(currentLightSimulation.Progress)" Class="ml-0">
                            @($"{currentLightSimulation.Progress:P2}")
                        </MudChip>
                    </MudItem>

                    <MudItem xs="3">
                        <MudText Typo="Typo.body1"><b>Termination State:</b></MudText>
                        <MudChip T="string" Color="@GetTerminationColor(currentLightSimulation.TerminationState)" Class="ml-0">
                            @GetTerminationStateLabel(currentLightSimulation.TerminationState)
                        </MudChip>
                    </MudItem>
                 </MudGrid>

                @if (results != null)
                {
                    <SimulationResultsPanel @ref="resultsPanelRef" Results="@results"/>
                }
            </MudPaper>
        }
    }
</MudUnitAndReferenceChoiceTag>

@code {


    [Parameter]
    public Guid  id { get; set; }

    private SimulationResultsPanel? resultsPanelRef;


    // Simulation related variables
    private List<SimulationLight> SimulationList = new();
    private List<SimulationLight> selectedSimulationList = new();
    private SimulationLight? currentLightSimulation;
    private Simulation? currentSimulation;
    private List<object?>? inputDataList = new(); // container used to pass input data to the SimulationEdit razor component without specifying content types (required by µservice Template)
    private SimulationResults results;
    private Simulation newSimulation = new();

    // private List<ToBeRemoved>? toBeRemovedList;
    // UI related variables
    public bool isHiddenMainPanel;
    public bool autoUpdate;
    private string? _searchString;


    bool updateResultGraphs = false;

    private Color GetProgressColor(double? progress)
    {
        if (progress == null) return Color.Default;

        return progress switch
        {
            <= 0.25 => Color.Error,
            <= 0.75 => Color.Warning,
            < 1.0 => Color.Info,
            _ => Color.Success
        };
    }

    private string GetTerminationStateLabel(int state)
    {
        return state switch
        {
            0 => "Running",
            1 => "Completed",
            2 => "Failed",
            3 => "Cancelled",
            _ => "Unknown"
        };
    }
    private Color GetTerminationColor(int state)
    {
        return state switch
        {
            0 => Color.Info,
            1 => Color.Success,
            2 => Color.Error,
            3 => Color.Warning,
            _ => Color.Default
        };
    }

    private async Task DeleteSetPoints(SetPoints item)
    {
        if (item != null)
        {
            newSimulation.SetPointsList.Remove(item);
        }

        // Optional UI refresh
        await InvokeAsync(StateHasChanged);
    }

    private void UploadFile(InputFileChangeEventArgs e, Action<string> setFileName)
    {
        var file = e.File;
        if (file != null)
        {
            setFileName(file.Name);
        }
    }


    private void CloseViewSimulationPanelOnClick()
    {
        autoUpdate = false;
        Navigation.NavigateTo($"/Simulation/");
    }

    private void OnExpandCollapseClickAddPanel()
    {
        NewDefaultSimulation();
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            currentLightSimulation = await APIUtils.ClientSimulator4nDOF.GetSimulatioLightByIdAsync(id);

            while (currentLightSimulation != null && currentLightSimulation.TerminationState < 1)
            {
                currentLightSimulation = await APIUtils.ClientSimulator4nDOF.GetSimulatioLightByIdAsync(currentLightSimulation.MetaInfo.ID);
                if (currentLightSimulation != null)
                {
                    autoUpdate = true;
                    await InvokeAsync(() => { StateHasChanged(); });
                }
                else
                {
                    logger.LogWarning("Impossible to load Simulation");
                    Snackbar.Add("Impossible to load Simulation", Severity.Warning);
                }
                await Task.Delay(5000);
                if (!autoUpdate)
                {
                    break;
                }
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem Simulation initialization");
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private void AddSetPoint()
    {
        newSimulation.SetPointsList.Add(new SetPoints() { TimeDuration = 1, SurfaceRPM = 0, TopOfStringVelocity = 0 });
    }

    private void NewDefaultSimulation()
    {
        MetaInfo metaInfo = new() { ID = Guid.NewGuid(), HttpHostName = APIUtils.HostNameSimulator4nDOF, HttpHostBasePath = APIUtils.HostBasePathSimulator4nDOF, HttpEndPoint = "Simulation/" };
        DateTimeOffset creationDate = DateTimeOffset.UtcNow;
        newSimulation = new()
        {
            MetaInfo = metaInfo,
            Name = DataUtils.DEFAULT_NAME_Simulation,
            Description = DataUtils.DEFAULT_DESCR_Simulation,
            CreationDate = creationDate,
            LastModificationDate = creationDate,
            ContextualData = new ContextualData()
            {
                TrajectoryFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\Trajectory.txt",
                AnnulusPressureFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\AnnulusHydraulicProfiles.txt",
                DrillstringPressureFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\DrillstringHydraulicProfiles.txt",
                DrillstringFile = "C:\\NORCE\\AxialTorsionalLateralTransientTorqueAndDrag\\WellboreConfigurations\\Run900\\BitDepth4085m\\Drillstring.csv",
                CasingShoeDepth = 2181,
                LinerShoeDepth = 0,
                CasingID = 9 * 0.0254,
                LinerID = 0 * 0.0254,
                WellheadDepth = 120,
                RiserID = 21 * 0.0254,
                BitRadius = 0.2159 / 2,
            },
            InitialValues = new InitialValues()
            {
                BitDepth = 4084,
                HoleDepth = 4085,
                TopOfStringPosition = 15
            },
            SetPointsList = new List<SetPoints>
                {
                    new SetPoints
                    {
                        TimeDuration = 10,
                        SurfaceRPM = 138 * Math.PI / 30,
                        TopOfStringVelocity = 100.0 / 3600
                    }
                },
        };
    }

    private async Task AddSimulation()
    {
        try
        {
            MetaInfo metaInfo = new() { ID = Guid.NewGuid(), HttpHostName = APIUtils.HostNameSimulator4nDOF, HttpHostBasePath = APIUtils.HostBasePathSimulator4nDOF, HttpEndPoint = "Simulation/" };
            DateTimeOffset creationDate = DateTimeOffset.UtcNow;
            newSimulation.MetaInfo = metaInfo;
            newSimulation.CreationDate = creationDate;
            newSimulation.LastModificationDate = creationDate;
            await APIUtils.ClientSimulator4nDOF.PostSimulationAsync(this.newSimulation);
            logger.LogInformation("Simulation posted successfully");
            Snackbar.Add("Simulation posted successfully", Severity.Success);
            ;
            await OnInitializedAsync();
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to add a new Simulation");
            Snackbar.Add("Impossible to add a new Simulation", Severity.Warning);
        }
    }

    private async Task RowClicked(DataGridRowClickEventArgs<SimulationLight> args)
    {
        await EditSimulation(args.Item.MetaInfo.ID);
    }

    private async Task GetCurrentSimulationHeavy()
    {
        try
        {
            currentSimulation = await APIUtils.ClientSimulator4nDOF.GetSimulationByIdAsync(currentLightSimulation.MetaInfo.ID);
            if (currentSimulation != null)
            {
                results = new SimulationResults();

                foreach (var result in currentSimulation.Results)
                {
                    results.Time.Add(result.Time);
                    results.BitTorque.Add(result.TOB);
                    results.SurfaceTorque.Add(result.TopDriveTorque);
                    results.TopOfStringAxialVelocity.Add(result.TopOfStringAxialVelocity);
                    results.SSI.Add(result.SSI);
                    results.WOB.Add(result.WOB);
                    results.BitDepth.Add(result.BitDepth);
                    results.BitRPM.Add(result.BitRPM);
                    results.BitAxialVelocity.Add(result.BitVelocity);
                    results.HoleDepth.Add(result.HoleDepth);
                    results.SurfaceRPM.Add(result.TopDriveRPM);
                }

                resultsPanelRef?.Refresh();

                isHiddenMainPanel = true;
                autoUpdate = false;
                updateResultGraphs = true;
                await InvokeAsync(() => { StateHasChanged(); });
            }
            else
            {
                logger.LogWarning("Impossible to load Simulation");
                Snackbar.Add("Impossible to load Simulation", Severity.Warning);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load Simulation to be edited");
        }
    }

    private async Task EditSimulation(Guid id)
    {
        try
        {
            currentLightSimulation = await APIUtils.ClientSimulator4nDOF.GetSimulatioLightByIdAsync(id);
            if (currentLightSimulation != null)
            {
                isHiddenMainPanel = true;
                autoUpdate = false;
                await InvokeAsync(() => { StateHasChanged(); });
            }
            else
            {
                logger.LogWarning("Impossible to load Simulation");
                Snackbar.Add("Impossible to load Simulation", Severity.Warning);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load Simulation to be edited");
        }
    }

    private async Task DeleteSimulation(Guid id)
    {
        try
        {
            await APIUtils.ClientSimulator4nDOF.DeleteSimulationByIdAsync(id);
            await OnInitializedAsync();
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to delete Simulation");
        }
    }
}